<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Site Metas -->
    <title>Events | Ecomansa</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../images/mansa-logo-removebg-preview.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/events.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="../css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Custom CSS -->

    <!-- Modernizer for Portfolio -->
    <script src="../js/modernizer.js"></script>

</head>
<body>
    <header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<div class="logo-con">
                    <a href="/"> <img src="./images/mansa-logo-removebg-preview.png" alt=""></a>
                </div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
						<li class="nav-item"><a class="nav-link" href="/stories">Stories</a></li>
						<li class="nav-item btn"><a class="nav-link" href="/admin">Admin</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
    <main>
        <section>
            <div>
                <div class="events">
                    <div class="upcomming-events-title-container">
                        <h1 class="upcomming-events-title">Upcoming Events</h1>
                    </div>
                    <div class="event">
                        <div>
                            <img src="images/ecomansa/mansan.png" alt="">
                        </div>
                       <div class="event-description">
                        
                         <p> <span class="event-title">The American Ambassadors visit to Faraba</span> <br> The visit of the US Embassy delegation, led by Mrs. Cromer, to the University of the Gambia's School of Business and Public Administration (SBPA) Faraba Bantang campus on December 6th, 2023, marked a significant event in the university's calendar. The presence of a handful of delegates from the embassy, along with the esteemed HE Kemo Conteh, President of the Students Union, Faculty Staff, and ECOMANSA added prestige to the occasion.
                         HE Kemo Conteh's inspiring words and the importance of the occasion set the tone for the event, emphasizing the value of collaboration and exchange between institutions and international partners. His presence underscored the significance of the visit and the potential impact it could have on the university community.</p>
                        <div class="date">
                         <h3>Date</h3>
                         <div>
                            <h1>01 March, 2024</h1>
                            <span class="event-status">status completed</span>
                         </div>
                        </div>
                       </div>
                    </div>

                    <div class="event">
                        <div>
                            <img src="images/ecomansa/planting.jpeg" alt="">
                        </div>
                       <div class="event-description">
                         <p><span class="event-title">ECOMANSA ON TREE PLANTING EXERCISE</span> <br> the students and the university management are concerned, the completion of the construction lies in the hands of the third party, but giving life to the atmosphere and painting it with the natural beauties offered by plants is a mantle that could be internalized.
                         The ambassador of the US to the Gambia delivered a wonderful speech in highlighting the importance of trees and environmental preservation. She went further to emphasize the continuity of such initiative and encouraged the university to emulate ECOMANSA in this holistic activity. In addition to the tree planting, the ambassador alongside her delegates gifted the student council some footballs.</p>
                        <div class="date">
                         <h3>Date</h3>
                         <div>
                            <h1>01 March, 2024</h1>
                            <span class="event-status">status completed</span>
                         </div>
                        </div>
                       </div>
                    </div>

                    <div class="event">
                        <div>
                            <img src="/images/ecomansa/trip.jpg" alt="">
                        </div>
                       <div class="event-description">
                         <p><span class="event-title">ECOMANSA ANNUAL RESEARCH</span> <br> Ecomansa Research Trip is an annual activity organized by the Economics and Management Students’ Association in the University of The Gambia with the desire to address pressing societal challenges and issues in the Gambia and the Subregion.
                        </p>
                        <div class="date">
                         <h3>Date</h3>
                        <div>
                            <h1>24 Febuary, 2024</h1>
                            <span class="event-status">status completed</span>
                         </div>
                        </div>
                       </div>
                    </div>

                    <div class="event">
                        <div>
                            <img src="/images/ecomansa/legacy.jpeg" alt="">
                        </div>
                       <div class="event-description">
                         <p><span class="event-title">GREEN LEGACY: ECOMANSA'S SUCCESSFUL TREE PLANTING EVENT AT SBPA FARABA CAMPUS</span> <br> Following the successful tree planting exercise held on Saturday, November 25, 2023, at the SBPA Campus in Faraba, Ecomansa expressed heartfelt gratitude to Standard Chartered Bank, the exercise's primary sponsor, the University of the Gambia management, the Students Union, and all students who participated. 
This exercise, the first of its kind at Faraba Banta Campus, was aimed at giving life to the campus, as the theme depicted it: plant a tree and save the planet. </p>
                        <div class="date">
                         <h3>Date</h3>
                         <div>
                            <h1>25 November, 2023</h1>
                            <span class="event-status">status completed</span>
                         </div>
                        </div>
                       </div>
                    </div>
                    
                    
                </div>
            </div>
        </section>
    </main>

     <script src="../js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../js/custom.js"></script>
	<script src="../js/timeline.min.js"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
</body>
</html>